

*{
  box-sizing: border-box;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(2, 2, 63);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  padding: 0px 10px 0px 60px;
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: rgb(19, 3, 92);
  align-items: center;
  text-align: center;
}
.nav--list {
  padding: 25px 50px 10px 0px;
  cursor: pointer;
}
.nav--list a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 15px;
  color: rgb(15, 216, 99);
  overflow-x: hidden;
}
.btn{
  width: 95px;
  height: 35px;
  align-items: center;
  background-color: rgb(24, 179, 19);
  border-radius: 10px;
  font-weight: bold;
}
.info{
  justify-content: center;
  text-align: center;
}
.info--container{
  display: flex;
  background-color: white;
  /* margin: 5em 4.5em; */
  width: 90%;
  max-width: 1100px;
  margin: 1em auto;
  border-radius: 30px;
  justify-content: space-between;
  padding: 30px;
}
.info--content{
  text-align:justify;
  width:70%;
  padding: 20px;
  font-size: larger;
}
.info--images{
  width: 90%;
  padding: 20px;
}
.infoimage1{
  width: 100%;
  border-radius: 20px;
}
.getstart-btn{
  width: 350px;
  height: 70px;
  font-size: larger;
  font-weight: 700;
  background-color: rgb(24, 179, 19);
  border-radius: 20px;
}
.settings{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 1em auto;
  width: 90%;
  max-width: 1100px;
  border-radius: 30px;
  justify-content: space-evenly;
  padding: 30px;
  text-align: center;
}
.settings-detail {
  padding: 20px;
}
 
/* card code */

.cardslist{
  display: flex;
  width: 90%;
  margin: 1em auto;
  justify-content: space-between;
}

.card{
  position: relative;
  width: 23%;
  transition: all 0.5s ease-in;
  background-color: white;
  border-radius: 20px; 
  height: 350px;
}

.back--card{
  position: absolute;
  right: 0;
  display: none;
  padding: 1em;
  height: 300px;
}

.card:hover{
  transform: rotateY(180deg);
}

.font-card img{
  border-radius: 20px; 
  width: 100%;
}

.card:hover .back--card{
  display: block;
  transform: rotateY(180deg);
}

.card:hover .font-card img{
  display: none;
}

 
 .digital--container{
  /* margin: 5em 4.5em; */
  margin: 1em auto;
  width: 90%;
  max-width: 1100px;
  justify-content: center;
  text-align: center;
  color: white;
 }
 .digitalliteracy{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:2em;
 }
 .digital-div-1{
  width: 45%;
  border: 5px solid rgb(23, 250, 193);
  border-radius: 20px;
  padding: 20px 20px 40px 20px;
 }
.digital-div-2{
  width: 45%;
}
.laptop-img{
  width: 100%;
  border-radius: 20px;
}
.num{
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.num:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: aqua;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.num:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.focusarea{
  /* margin: 5em 4.5em; */
  margin: 1em auto;
  width: 90%;
  max-width: 1100px;
  background-color: white;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-radius: 25px;
}
.user--container{
  margin: 0 auto;
  max-width: 1100px;
  width: 90%;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
}
.user-gif{
  border-radius: 30px;
  width: 80%;
  max-width: 400px;
}
.contact-us{
  background-color:rgb(144, 81, 202) ;
  border-radius: 30px;
  padding: 3em;
  color: white;
  display: flex;
  /* margin: 2em 0em; */
  margin: 2em auto;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
}
.s-icon{
  width: 25px;
  padding: 15px;
  color: rgb(247, 240, 240);
}
.s-links{
  margin-top: 1em;
  padding: 15px;
}
.s-links a{
  padding:10px;
}
.social-media-icons{
  margin-left: 2em;
}

.footer{
  color: white;
}

@media screen and (max-width:750px){
body{
  background-color: rgb(196, 179, 107);
}
.nav--list{
  display: none;
}

.info--container{
  display: block;
}
.social-media-icons{
  margin-left: 0;
}
.s-icon{
  width: 20px;
  padding: 15px;
}
.digital-div-2{
  width: 100%;
}
.digital-div-1{
  width: 100%;
  height: 200px;
  margin: 0em 0em 1em 0em;
}
.digitalliteracy{
  margin: 0em;
}
.info--container{
  padding: 30px;
}
.info--content{
  width: 100%;
  padding:5px;
}
.info--images{
  width: 100%;
  padding: 10px;
}

.navbar{
  padding: 0px;
  height: 100px;
  background-color: rgba(211, 198, 123, 0.596);
  
}
.navbar a{
  font-size: 16px;
  padding: 7px;
  color: #e61414;
}
.navbar a:hover{
  transform: all 0.5s ease;
}
/* .navbar--logo{
  width: 120px;
} */

.getstart-btn{
  background-color: #2b1fce;
}
.digital-div-1{
  color: #010c0f;
  background-color: rgb(151, 206, 206);
}

.cardslist{
  flex-direction: column;
}

.card{
  width: 60%;
  margin: 1em auto;
  height: 280px;
}

}

@media ( min-width:320px) and( max-width:562px){
 
  .card{
    height: 200px;
  }
}